/* Main layout */

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}

/* Test plan runs list */
.list-view .content {
    display: flex;
    flex-wrap: wrap;
}

.flex-2 {
    flex: 2;
}

.list-view .test-plan-run-form {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .test-plan-run-grid {
        display: none;
    }
}
